<main>
    <h1 class="title"> Certificados </h1>
    <a href="./assets/curriculo/GiovaneDev.pdf" download class="btn btn-success"> Curriculo  <img class="icon-download" src="./assets/iconDownload.png" alt=""></a>
    <h4>Total de certificados : {{ qntsCertificados }}</h4>
    <div class="container-certificado">
        <div class="card-certificado" *ngFor="let certificado of certificados">
            <a target="_blank" [href]="certificado.linkCertificado"><img class="img-certificado" [src]="certificado.img" alt=""></a>
            <h3>{{ certificado.title }}</h3>
        </div>
    </div>
</main>
