<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid"> <!-- div principal -->
      <a class="navbar-brand" routerLink="pagina-inicial"> <!-- Logo Header -->
        <img src="./assets/logo-header.png" alt="" width="50" height="40" class="d-inline-block align-text-top">
      </a>
      <!-- Botão Menu para mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links paras rotas -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Pagina Principal -->
          <li class="nav-item subtitle-navbar"> 
            <a class="nav-link active" aria-current="page" routerLink="eu">Quem sou eu</a>
          </li>
          <!-- Habilidades -->
          <li class="nav-item subtitle-navbar"> 
            <a class="nav-link" routerLink="habilidades">Habilidades</a>
          </li>
          <!-- Projetos -->
          <li class="nav-item subtitle-navbar"> 
            <a class="nav-link" routerLink="projetos">Projetos</a>
          </li>
          <!-- Certificados -->
          <li class="nav-item subtitle-navbar"> 
            <a class="nav-link" routerLink="certificados">Certificados</a>
          </li>
        </ul>
        <!-- Contatos / Redes Socias -->
        <div class="d-flex" id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-3 mb-lg-0 redes-navbar">
                <!-- WhatsApp -->
              <li class="nav-item ">
                <a target="_blank" class="nav-link" href="https://wa.me/+557191609668">
                    <img src="./assets/redes/whatsApp-header.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                </a>
              </li>
                <!-- Github -->
              <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://github.com/giovanesantiago">
                    <img src="./assets/redes/github-header.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                </a>
              </li>
              <!-- Linkedin -->
              <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/giovane-santiago-473863212/">
                    <img src="./assets/redes/linkedin-header.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                </a>
              </li>
              
            </ul>
          </div>
      </div>
      
    </div>

  </nav>

