<main>
    <img src="../../assets/eu/giodsenho.webp">
    <article>
            <h2>Nome : <span class="digitar-nome">Giovane Santiago</span></h2>
            <h2>Idade : <span class="digitar-idade">28</span></h2>
            <h2>Profissão : <span class="digitar-profissao">Developer FullStack</span></h2>
            <h2 class="sobre">Sobre: <span class="digitar-sobre">Um profissional em busca de crescimento, super proativo e de fácil aprendizado.</span></h2>
        <h2>Competências:</h2>
        <div class="container-competencias">
            <p class="competencias">Java</p>
            <p class="competencias">Spring Boot</p>
            <p class="competencias">Database : MySql</p>
            <p class="competencias">APIs</p>
            <p class="competencias">Javascript</p>
            <p class="competencias">ReactJS</p>
            <p class="competencias">Angular</p>
            <p class="competencias">Bootstrap</p>
            <p class="competencias">Jquery</p>
            <p class="competencias">TypeScript</p>
            <p class="competencias">HTML5</p>
            <p class="competencias">CCS3</p>
            <p class="competencias">Git e Github</p>
            <p class="competencias">Projetos ágeis com SCRUM</p>
        </div>
    </article>
</main>
