*{
  border: none !important;
  
}

#busca{
    background-color:#0d6efd;
    border:solid 1px;
    border-radius:15px;
    width:330px;
    margin-top: 10px;
    
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border: none !important;;
    height:32px;
    width:270px;
    
  }
 
  ::placeholder{
    color: white;
  }
  
  #btnBusca{
    margin: 5px;
    width: 25px;
    border: none !important;
    background-color: transparent !important;
    
  }
  
  img{
    width: 30px;
  }