<main class="skill">
    <div class="div-container">
        <h1 class="title">Habilidades</h1>
        <article>
            <div class="card">
                <h3>Front-End</h3>
                <ul>
                    <li >
                      <p>Javascript</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra "></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                      </div>
                    </li>
                    <li >
                      <p>HTML</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                      </div>
                    </li>
                    <li >
                      <p>CSS</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                      </div>
                    </li>
                    <li >
                      <p>LESS</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                      </div>
                    </li>
                  </ul>
            </div>
            <div class="card">
                <h3>Back-End</h3>
                <ul>
                    <li >
                      <p>Python</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                      </div>
                    </li>
                    <li >
                      <p>Java</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra "></div>
                        <div class="barra "></div>
                        <div class="barra incompleto incompleto"></div>
                        <div class="barra incompleto incompleto"></div>
                        <div class="barra incompleto incompleto"></div>
                      </div>
                    </li>
                    <li >
                      <p>Banco de Dados</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                      </div>
                    </li>
                    <li >
                      <p>APIs</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                      </div>
                    </li>
                  </ul>
            </div>
            <div class="card">
                <h3>Frameworks</h3>
                <ul>
                    <li >
                      <p>jQuery</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                      </div>
                    </li>
                    <li >
                      <p>Spring Boot</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra ncompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                      </div>
                    </li>
                    <li >
                      <p>Angular / Typescript</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                      </div>
                    </li>
                    <li >
                      <p>Bootstrap</p>
                      <div class="progresso">
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra"></div>
                        <div class="barra incompleto"></div>
                        <div class="barra incompleto"></div>
                      </div>
                    </li>
                  </ul>
            </div>
        </article>
    </div>
</main>
