/* You can add global styles to this file, and also import other style files */
*{
	margin: 0;
	padding: 0;
}

main {
    height: 100vh; /* Ocupar 100% da tela */
    background-color: #0B0B0D;
}
.title{
    color: white;
    font-family: 'Redressed', cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    font-size: 3.9em;
    text-align: center;
}